<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.QuanLySinhVienConnectionString"
            connectionString="Data Source=DESKTOP-UB8AMQ9;Initial Catalog=QuanLySinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSV.Properties.Settings.DBMS_QLSVConnectionString"
            connectionString="Data Source=TAYNGUYEN\TAYNGUYEN;Initial Catalog=DBMS_QLSV;Persist Security Info=True;User ID=sa;Password=000000"
            providerName="System.Data.SqlClient" />
        <add name="QLSV.Properties.Settings.QuanLySinhVienConnectionString1"
            connectionString="Data Source=DESKTOP-UB8AMQ9;Initial Catalog=QuanLySinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSV.Properties.Settings.QuanLySinhVienConnectionString2"
            connectionString="Data Source=LAPTOP-G8GJO4A2;Initial Catalog=QuanLySinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>